.App {
  height: 100vh;
  width: 100vw;
  background: rgb(144,28,155);
  background: linear-gradient(90deg, rgba(144,28,155,1) 12%, rgba(156,28,68,1) 37%, rgba(157,28,104,1) 49%, rgba(158,28,82,1) 68%, rgba(159,28,67,1) 77%, rgba(160,27,103,1) 95%, rgba(170,26,100,1) 100%);
}

.App a {
  color: #ffff;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #e4cbe3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ContentWrapper {
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 800px;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-rows: auto 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 3rem;
  -webkit-box-align: start;
  align-items: start;
  background-color: #e4cbe3;
}

body {
  font-family: 'Open Sans', sans-serif;
}
